<?xml version="1.0"?>
<!-- 由 make_s1_official.py 自動產生, 請勿手動修改 (改產生器後重跑)。
  來源 Yahboom 官方 DOGZILLA S1 URDF (champ_description/urdf/xgo_rviz.xacro, SolidWorks 1:1 匯出)。
  修正內容與原因見 make_s1_official.py 開頭說明。生成站姿 (站高 0.105 m) 大腿 1.115 rad, 膝 -1.762 rad。
  注意：註解內不要用「半形冒號+空格」, robot_description 會被 launch 當 YAML 解析而失敗。 -->
<robot name="champ" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="camera" default="false" />

  
  <link name="base_link">
    <inertial>
      <origin xyz="0.00520835146477011 -0.000260539720599709 0.0280591836024867" rpy="0 0 0" />
      <mass value="0.555142" />
      <inertia ixx="0.000273184" ixy="2.31015e-06" ixz="-4.5801e-06" iyy="0.00151398" iyz="-2.21982e-06" izz="0.00169901" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.00160 0.00000 0.03915" rpy="0 0 0" /><geometry><box size="0.20900 0.06040 0.08190" /></geometry></collision></link>
  <link name="lf_hip_link">
    <inertial>
      <origin xyz="-0.0139720018610026 0.0250894092965121 0.00927328896542384" rpy="0 0 0" />
      <mass value="0.0280906" />
      <inertia ixx="8.44431e-06" ixy="-8.12664e-07" ixz="-3.76758e-07" iyy="5.43233e-06" iyz="-1.66953e-06" izz="9.87223e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/lf_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01830 0.02230 0.00735" rpy="0 0 0" /><geometry><box size="0.03660 0.05400 0.02970" /></geometry></collision></link>
  <joint name="lf_hip_joint" type="revolute">
    <origin xyz="0.09332 0.022407 0.01454" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lf_hip_link" />
    <axis xyz="1 0 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="lf_upper_leg_link">
    <inertial>
      <origin xyz="-0.00689428079248722 -0.0186700000000002 -0.0299480398915498" rpy="0 0 0" />
      <mass value="0.0176896" />
      <inertia ixx="7.84659e-06" ixy="-5.46169e-22" ixz="8.08919e-21" iyy="6.96556e-06" iyz="2.06359e-12" izz="2.62922e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/lf_upper_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.00170 -0.01870 -0.02990" rpy="0 0 0" /><geometry><box size="0.02260 0.02500 0.07160" /></geometry></collision></link>
  <joint name="lf_upper_leg_joint" type="revolute">
    <origin xyz="-0.018325 0.049313 0" rpy="0 0 0" />
    <parent link="lf_hip_link" />
    <child link="lf_upper_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="lf_lower_leg_link">
    <inertial>
      <origin xyz="-0.0167811557825132 -0.0183250059303989 -0.03162385840477" rpy="0 0 0" />
      <mass value="0.0325157" />
      <inertia ixx="2.02289e-05" ixy="-7.6561e-13" ixz="-1.40724e-06" iyy="1.95604e-05" iyz="-3.32813e-12" izz="1.99604e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/lf_lower_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01130 -0.01830 -0.03325" rpy="0 0.32760 0" /><geometry><box size="0.012 0.012 0.07024" /></geometry></collision><collision name="foot"><origin xyz="-0.02260 -0.01830 -0.07250" rpy="0 0 0" /><geometry><box size="0.016 0.012 0.018" /></geometry></collision></link>
  <joint name="lf_lower_leg_joint" type="revolute">
    <origin xyz="0 -0.00072 -0.059896" rpy="0 0 0" />
    <parent link="lf_upper_leg_link" />
    <child link="lf_lower_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="rf_hip_link">
    <inertial>
      <origin xyz="-0.0139720018610026 -0.0250894092965121 0.00927328896542384" rpy="0 0 0" />
      <mass value="0.0280906" />
      <inertia ixx="8.44431e-06" ixy="8.12664e-07" ixz="-3.76758e-07" iyy="5.43233e-06" iyz="1.66953e-06" izz="9.87223e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/rf_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01830 -0.02230 0.00735" rpy="0 0 0" /><geometry><box size="0.03660 0.05400 0.02970" /></geometry></collision></link>
  <joint name="rf_hip_joint" type="revolute">
    <origin xyz="0.09332 -0.022517 0.01454" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rf_hip_link" />
    <axis xyz="1 0 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="rf_upper_leg_link">
    <inertial>
      <origin xyz="-0.00689428079248688 0.018700000000002 -0.0299480398915499" rpy="0 0 0" />
      <mass value="0.0176896" />
      <inertia ixx="7.84659e-06" ixy="-2.95395e-20" ixz="2.81271e-21" iyy="6.96556e-06" iyz="2.06359e-12" izz="2.62922e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/rf_upper_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.00170 0.01870 -0.02990" rpy="0 0 0" /><geometry><box size="0.02260 0.02500 0.07160" /></geometry></collision></link>
  <joint name="rf_upper_leg_joint" type="revolute">
    <origin xyz="-0.018325 -0.049313 0" rpy="0 0 0" />
    <parent link="rf_hip_link" />
    <child link="rf_upper_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="rf_lower_leg_link">
    <inertial>
      <origin xyz="-0.016781155771109 0.0183249940632203 -0.0316238583795284" rpy="0 0 0" />
      <mass value="0.0325157" />
      <inertia ixx="2.02289e-05" ixy="-7.65892e-13" ixz="-1.40724e-06" iyy="1.95604e-05" iyz="-3.32741e-12" izz="1.99604e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/rf_lower_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01130 0.01830 -0.03325" rpy="0 0.32760 0" /><geometry><box size="0.012 0.012 0.07024" /></geometry></collision><collision name="foot"><origin xyz="-0.02260 0.01830 -0.07250" rpy="0 0 0" /><geometry><box size="0.016 0.012 0.018" /></geometry></collision></link>
  <joint name="rf_lower_leg_joint" type="revolute">
    <origin xyz="0 0 -0.059896" rpy="0 0 0" />
    <parent link="rf_upper_leg_link" />
    <child link="rf_lower_leg_link" />
    <axis xyz="0 1 0" />
     <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="lh_hip_link">
    <inertial>
      <origin xyz="-0.0139720018610022 0.0250894092965121 0.00927328896542402" rpy="0 0 0" />
      <mass value="0.0280906" />
      <inertia ixx="8.44431e-06" ixy="-8.12664e-07" ixz="-3.76758e-07" iyy="5.43233e-06" iyz="-1.66953e-06" izz="9.87223e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/lh_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01830 0.02230 0.00735" rpy="0 0 0" /><geometry><box size="0.03660 0.05400 0.02970" /></geometry></collision></link>
  <joint name="lh_hip_joint" type="revolute">
    <origin xyz="-0.05668 0.022407 0.01454" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lh_hip_link" />
    <axis xyz="1 0 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="lh_upper_leg_link">
    <inertial>
      <origin xyz="-0.00689428079248695 -0.0186700000000005 -0.0299480398915495" rpy="0 0 0" />
      <mass value="0.0176896" />
      <inertia ixx="7.84659e-06" ixy="-3.9503e-21" ixz="1.33679e-20" iyy="6.96556e-06" iyz="2.06359e-12" izz="2.62922e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/lh_upper_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.00170 -0.01870 -0.02990" rpy="0 0 0" /><geometry><box size="0.02260 0.02500 0.07160" /></geometry></collision></link>
  <joint name="lh_upper_leg_joint" type="revolute">
    <origin xyz="-0.0183249999999999 0.0493130541805868 0" rpy="0 0 0" />
    <parent link="lh_hip_link" />
    <child link="lh_upper_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="lh_lower_leg_link">
    <inertial>
      <origin xyz="-0.0167811557787652 -0.0183250059325003 -0.0316238584061345" rpy="0 0 0" />
      <mass value="0.0325157" />
      <inertia ixx="2.02289e-05" ixy="-7.6546e-13" ixz="-1.40724e-06" iyy="1.95604e-05" iyz="-3.32596e-12" izz="1.99604e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/lh_lower_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01130 -0.01830 -0.03325" rpy="0 0.32760 0" /><geometry><box size="0.012 0.012 0.07024" /></geometry></collision><collision name="foot"><origin xyz="-0.02260 -0.01830 -0.07250" rpy="0 0 0" /><geometry><box size="0.016 0.012 0.018" /></geometry></collision></link>
  <joint name="lh_lower_leg_joint" type="revolute">
    <origin xyz="0 -0.00072 -0.059896" rpy="0 0 0" />
    <parent link="lh_upper_leg_link" />
    <child link="lh_lower_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="rh_hip_link">
    <inertial>
      <origin xyz="-0.0139720018610026 -0.0250894092965121 0.00927328896542384" rpy="0 0 0" />
      <mass value="0.0280906" />
      <inertia ixx="8.44431e-06" ixy="8.12664e-07" ixz="-3.76758e-07" iyy="5.43233e-06" iyz="1.66953e-06" izz="9.87223e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/rh_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01830 -0.02230 0.00735" rpy="0 0 0" /><geometry><box size="0.03660 0.05400 0.02970" /></geometry></collision></link>
  <joint name="rh_hip_joint" type="revolute">
    <origin xyz="-0.05668 -0.022517 0.01454" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rh_hip_link" />
    <axis xyz="1 0 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="rh_upper_leg_link">
    <inertial>
      <origin xyz="-0.00689428079248684 0.0187000000000015 -0.0299480398915497" rpy="0 0 0" />
      <mass value="0.0176896" />
      <inertia ixx="7.84659e-06" ixy="-2.28502e-21" ixz="3.42087e-22" iyy="6.96556e-06" iyz="2.06359e-12" izz="2.62922e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/rh_upper_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.00170 0.01870 -0.02990" rpy="0 0 0" /><geometry><box size="0.02260 0.02500 0.07160" /></geometry></collision></link>
  <joint name="rh_upper_leg_joint" type="revolute">
    <origin xyz="-0.018325 -0.049313 0" rpy="0 0 0" />
    <parent link="rh_hip_link" />
    <child link="rh_upper_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="rh_lower_leg_link">
    <inertial>
      <origin xyz="-0.0167811557016845 0.0183249940379433 -0.0316238581313005" rpy="0 0 0" />
      <mass value="0.0325157" />
      <inertia ixx="2.02289e-05" ixy="-7.7069e-13" ixz="-1.40724e-06" iyy="1.95604e-05" iyz="-3.34673e-12" izz="1.99604e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/rh_lower_leg_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision><origin xyz="-0.01130 0.01830 -0.03325" rpy="0 0.32760 0" /><geometry><box size="0.012 0.012 0.07024" /></geometry></collision><collision name="foot"><origin xyz="-0.02260 0.01830 -0.07250" rpy="0 0 0" /><geometry><box size="0.016 0.012 0.018" /></geometry></collision></link>
  <joint name="rh_lower_leg_joint" type="revolute">
    <origin xyz="0 0 -0.059896" rpy="0 0 0" />
    <parent link="rh_upper_leg_link" />
    <child link="rh_lower_leg_link" />
    <axis xyz="0 1 0" />
    <limit effort="0.44" lower="-3.14159" upper="3.14159" velocity="10.5" />
  <dynamics damping="0.01" /></joint>
  <link name="camera_link">
    <inertial>
      <origin xyz="-0.0141667877097374 -4.70243546289578E-05 -0.000117154201057887" rpy="0 0 0" />
      <mass value="0.00667452" />
      <inertia ixx="4.38874e-07" ixy="-2.75914e-09" ixz="7.48236e-09" iyy="5.29879e-07" iyz="3.18829e-09" izz="5.47228e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/camera_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.0549019607843137 0.0549019607843137 0.0549019607843137 1" />
      </material>
    </visual>
    </link>
  <joint name="camera_Joint" type="fixed">
    <origin xyz="0.075751 0 0.059653" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="camera_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="laser_link">
    <inertial>
      <origin xyz="3.78566923279477E-05 -0.000119937093508327 -0.022798439512917" rpy="0 0 0" />
      <mass value="0.045" />
      <inertia ixx="7.73325e-06" ixy="-2.45517e-08" ixz="2.08495e-08" iyy="7.5561e-06" iyz="2.10997e-08" izz="1.35785e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find champ_description)/meshes/XGO/laser_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    </link>
  <joint name="laser_Joint" type="fixed">
    <origin xyz="-0.06 4.4164E-05 0.10335" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="laser_link" />
    <axis xyz="0 0 0" />
  </joint>
    <gazebo> 
      <plugin name="yahboomcar_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
        <ros>
            <remapping>~/out:=joint_states</remapping>
        </ros>
        <update_rate>15</update_rate>

        <joint_name>lh_hip_joint</joint_name>
        <joint_name>lh_upper_leg_joint</joint_name>
        <joint_name>lh_lower_leg_joint</joint_name>

        <joint_name>lf_hip_joint</joint_name>
        <joint_name>lf_upper_leg_joint</joint_name>
        <joint_name>lf_lower_leg_joint</joint_name>

        <joint_name>rf_hip_joint</joint_name>
        <joint_name>rf_upper_leg_joint</joint_name>
        <joint_name>rf_lower_leg_joint</joint_name>
        
        <joint_name>rh_hip_joint</joint_name>
        <joint_name>rh_upper_leg_joint</joint_name>
        <joint_name>rh_lower_leg_joint</joint_name>
    </plugin>
  </gazebo> 

  <link name="lf_foot_link" />
  <joint name="lf_foot_joint" type="fixed">
    <parent link="lf_lower_leg_link" /><child link="lf_foot_link" />
    <origin xyz="-0.0226 0 -0.0815" rpy="0 0 0" />
  </joint>
  <gazebo reference="lf_lower_leg_link">
    <mu1>1.5</mu1><mu2>1.5</mu2><kp>1000000.0</kp><kd>50.0</kd><minDepth>0.001</minDepth><maxVel>0.1</maxVel>
  </gazebo>
  <link name="rf_foot_link" />
  <joint name="rf_foot_joint" type="fixed">
    <parent link="rf_lower_leg_link" /><child link="rf_foot_link" />
    <origin xyz="-0.0226 0 -0.0815" rpy="0 0 0" />
  </joint>
  <gazebo reference="rf_lower_leg_link">
    <mu1>1.5</mu1><mu2>1.5</mu2><kp>1000000.0</kp><kd>50.0</kd><minDepth>0.001</minDepth><maxVel>0.1</maxVel>
  </gazebo>
  <link name="lh_foot_link" />
  <joint name="lh_foot_joint" type="fixed">
    <parent link="lh_lower_leg_link" /><child link="lh_foot_link" />
    <origin xyz="-0.0226 0 -0.0815" rpy="0 0 0" />
  </joint>
  <gazebo reference="lh_lower_leg_link">
    <mu1>1.5</mu1><mu2>1.5</mu2><kp>1000000.0</kp><kd>50.0</kd><minDepth>0.001</minDepth><maxVel>0.1</maxVel>
  </gazebo>
  <link name="rh_foot_link" />
  <joint name="rh_foot_joint" type="fixed">
    <parent link="rh_lower_leg_link" /><child link="rh_foot_link" />
    <origin xyz="-0.0226 0 -0.0815" rpy="0 0 0" />
  </joint>
  <gazebo reference="rh_lower_leg_link">
    <mu1>1.5</mu1><mu2>1.5</mu2><kp>1000000.0</kp><kd>50.0</kd><minDepth>0.001</minDepth><maxVel>0.1</maxVel>
  </gazebo>
  <gazebo reference="lf_hip_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="lf_hip_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="lf_hip_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">0.0000</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="lf_upper_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="lf_upper_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="lf_upper_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">1.1145</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="lf_lower_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="lf_lower_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="lf_lower_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">-1.7625</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="rf_hip_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="rf_hip_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="rf_hip_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">0.0000</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="rf_upper_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="rf_upper_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="rf_upper_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">1.1145</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="rf_lower_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="rf_lower_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="rf_lower_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">-1.7625</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="lh_hip_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="lh_hip_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="lh_hip_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">0.0000</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="lh_upper_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="lh_upper_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="lh_upper_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">1.1145</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="lh_lower_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="lh_lower_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="lh_lower_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">-1.7625</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="rh_hip_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="rh_hip_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="rh_hip_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">0.0000</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="rh_upper_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="rh_upper_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="rh_upper_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">1.1145</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <gazebo reference="rh_lower_leg_joint"><implicitSpringDamper>1</implicitSpringDamper></gazebo>
  <ros2_control name="rh_lower_leg_joint" type="system">
    <hardware><plugin>gazebo_ros2_control/GazeboSystem</plugin></hardware>
    <joint name="rh_lower_leg_joint">
      <command_interface name="effort" />
      <state_interface name="position"><param name="initial_value">-1.7625</param></state_interface>
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
  <!-- ===== Gazebo 感測器與外掛 ===== -->
  <gazebo reference="base_link"><material>Gazebo/Grey</material></gazebo>
  <!-- LiDAR (官方 laser_link, 網格頂面在 z=0, 射線從頂面下 1 cm 的掃描頭發出) -->
  <gazebo reference="laser_link">
    <sensor name="laser_sensor" type="ray">
      <always_on>true</always_on><visualize>true</visualize><update_rate>10</update_rate>
      <pose>0 0 -0.01 0 0 0</pose>
      <ray>
        <scan><horizontal><samples>360</samples><resolution>1</resolution><min_angle>0</min_angle><max_angle>6.28</max_angle></horizontal></scan>
        <range><min>0.12</min><max>3.5</max><resolution>0.015</resolution></range>
        <noise><type>gaussian</type><mean>0.0</mean><stddev>0.01</stddev></noise>
      </ray>
      <plugin name="laserscan" filename="libgazebo_ros_ray_sensor.so">
        <ros><remapping>~/out:=scan</remapping></ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>
  <xacro:if value="$(arg camera)">
    <gazebo reference="camera_link">
      <sensor name="camera" type="camera">
        <update_rate>15</update_rate>
        <camera><horizontal_fov>1.8</horizontal_fov><image><width>640</width><height>480</height></image><clip><near>0.02</near><far>10</far></clip></camera>
        <plugin name="camera_plugin" filename="libgazebo_ros_camera.so"><camera_name>cam</camera_name><frame_name>camera_link</frame_name></plugin>
      </sensor>
    </gazebo>
  </xacro:if>
  <!-- IMU (官方模型沒有 imu_link, 加在機身質心附近) -->
  <link name="imu_link"><inertial><mass value="0.001" /><inertia ixx="1e-8" ixy="0" ixz="0" iyy="1e-8" iyz="0" izz="1e-8" /></inertial></link>
  <joint name="imu_joint" type="fixed"><parent link="base_link" /><child link="imu_link" /><origin xyz="0 0 0.028" /></joint>
  <gazebo reference="imu_link">
    <sensor name="yahboom_imu" type="imu">
      <always_on>true</always_on><update_rate>100</update_rate>
      <imu>
        <angular_velocity>
          <x><noise type="gaussian"><mean>0</mean><stddev>2e-4</stddev></noise></x>
          <y><noise type="gaussian"><mean>0</mean><stddev>2e-4</stddev></noise></y>
          <z><noise type="gaussian"><mean>0</mean><stddev>2e-4</stddev></noise></z>
        </angular_velocity>
        <linear_acceleration>
          <x><noise type="gaussian"><mean>0</mean><stddev>1.7e-2</stddev></noise></x>
          <y><noise type="gaussian"><mean>0</mean><stddev>1.7e-2</stddev></noise></y>
          <z><noise type="gaussian"><mean>0</mean><stddev>1.7e-2</stddev></noise></z>
        </linear_acceleration>
      </imu>
      <plugin name="yahboom_imu_plugin" filename="libgazebo_ros_imu_sensor.so">
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
        <frame_name>imu_link</frame_name>
        <ros><namespace>/imu</namespace><remapping>~/out:=data</remapping></ros>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo>
    <!-- 真值位姿 (只給 benchmark 評分與 RL 節點用) -->
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <ros><namespace>/demo</namespace><argument>odom:=odom/ground_truth</argument></ros>
      <body_name>base_link</body_name><frame_name>world</frame_name>
      <update_rate>10.0</update_rate><gaussian_noise>0.01</gaussian_noise>
    </plugin>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>/config/ros_control_s1.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
